@import url(./reset.css);
@import url(./container.css);
@import url(./variables.css);

body {
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 4.4375rem;
  padding-bottom: 6.25rem;
}

header ul {
  display: flex;
  gap: 4rem;
}

header ul li a {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: var(--color-text-primary);

  padding: 10px;

  position: relative;

  transition: 0.3ms;
}

header ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: -2px;
  left: 0;
  background-color: var(--color-text-secundary);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header ul li a:hover {
  color: var(--color-text-dark);
}

header ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

main {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero .hero-title {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--color-text-primary);

  width: 100%;
}

.hero .hero-title .atention {
  color: var(--color-text-secundary);
}

.hero .hero-text {
  font-size: 16px;
  color: var(--color-text-dark);
  line-height: 28px;
}

.hero .hero-text .atention {
  color: var(--color-text-secundary);
}

footer {
  padding-top: 11.25rem;

  text-align: center;
}

span {
  position: relative;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--color-text-dark);
}
span:before {
  position: absolute;
  content: "";
  width: 100%;
  border: 1px solid #00bfa6;
  top: -30px;
}

span a {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--color-text-dark);
  transition: 0.3ms;
}

span a:hover {
  color: var(--color-text-primary);
}

#detail-lock {
  position: fixed;
  bottom: 30px;
  left: 30px;
}
